<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Web App, <%= @user.name %></h1>
    <p>
      You've successfully created an account on Web App. To login and start
      doing some nice Web App things, click here: <%= @url %>.
    </p>
    <p>See you soon!</p>
  </body>
</html>
