<div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About Aqarat AI</h2>
    <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">  "Aqarat" is an Arabic word that translates to "real estate" or "properties" in English. It refers to land, buildings, and other structures, as well as the rights associated with owning or using them. In the context of business and finance, "aqarat" often specifically denotes real estate assets, investments, or transactions. Inspired by this concept, Aqarat AI aims to bring the same level of eloquence and effectiveness to the real estate industry. Leveraging the power of Artificial Intelligence, our platform generates real estate listings with unparalleled efficiency and accuracy. By automating the process, we save you time and resources, allowing you to focus on what matters most - closing deals and growing your business. Experience the future of real estate with Aqarat AI.</p>
  </div>
</div>